body {background: #F7F7F7;}
p {margin: 0;}
/* common */

.page{padding: 15px;}

.text-right {text-align: right;}
.text-center {text-align: center;}

/* ArticlePreview.vue */
.preview-header {width: 100%; height: 60px; background: url('../images/add-ad-banner.png') no-repeat; background-size: 100% 60px;} 
.preview-content {position: fixed; top: 80px; bottom: 182px; left: 0; right: 0; z-index: 0;}
.preview-footer{position: fixed; bottom: 0; left: 0; right: 0; bottom: 0; padding: 15px; background: #fff;}
.preview-ad-benner {width: 100%; height: 88px; background: url('../images/ad-banner.png') no-repeat; background-size: 100% 88px;}
.primary-btn,
.preview-inster-btn {background: #F1413D; border-color: #F1413D;}
.primary-btn { padding:0 40px; margin-top: 20px;}
.preview-inster-btn {font-size: 12px; height: 30px; line-height: 30px; border-radius: 15px 0 0 15px; padding-left: 20px; margin-bottom: 10px; margin-right: -15px; box-shadow: 0 1px 5px #F1413D;}
.preview-content {text-align: left; padding: 0 15px;}
.preview-content-title {font-size: 21px; margin: 13px 0;}
.preview-content-info {font-size: 12px;}
.preview-content-info span {padding-right: 10px; color: #999;}
.preview-content-wrap {font-size: 14px !important; color: #333 !important;}

/* AdAdd.vue */
.ad-add .van-hairline--top-bottom::after {border: none;}
.ad-add .van-tabs__nav{background: none; border: 0;}
.ad-add-tabs {padding-top: 10px; text-align: left;}

/* adAdd - Card.vue */
.ad-add-card .van-cell {line-height: 35px;}
.ad-add-card .van-cell-group__title {font-size: 13px; color: #333333; padding: 20px 0px 5px 0px;}
.ad-add-card .van-cell__left-icon, 
.ad-add-card .van-cell__right-icon,
.ad-add-card .van-field__left-icon{color: #D0CECE; line-height: 35px; height: 35px;}
.ad-add-card .van-cell__title {font-size: 13px;}
.ad-add-card .van-field__control {text-align: right;}
.ad-add-card-head {display: flex; align-items: center;}
.ad-add-card-head .van-image {margin-right: 10px;}
.ad-add-card-type {display: flex; width: 100%; background-color: transparent;}
.ad-add-card-type > div {position: relative; flex: 1;border-radius: 4px; overflow: hidden;}
.ad-add-card-type > div:first-child {margin-right: 8px;}
.ad-add-card-type > div:last-child {margin-left: 8px;}
.ad-add-card-type img {display: block; width: 100%;}
.card-type-actived,
.card-type-actived::before,
.card-type-actived::after {position: absolute; left: 0; top: 0;}
.card-type-actived::before {transform: scale(0.5); z-index: 2; top: -3px; left: -2px; color: #fff;}
.card-type-actived::after {content: ''; display: block; width: 0; height: 0; border-left: 20px solid #F1413D; border-bottom: 15px solid transparent; z-index: 1;}
.ad-add-card-footer {position: fixed; bottom: 0; left: 0; width: 100%; height: 90px;}
.ad-add-card-footer .primary-btn {position: absolute; left: 50%; margin-left: -52px; }

/* TheCardSecond.vue */
.card-btn {line-height: 25px; height: 25px; font-size: 12px;}
.card-second {display: flex;align-items: stretch; position: relative; overflow: hidden; border-radius: 4px; height: 120px;}
.card-second-img {width: 60%;}
.card-second-img img{display: block; width: 100%;}
.card-second-info {position: absolute; width: 65%; height: 120px; top: 0; right: 0; z-index: 2; font-size: 12px;}
.card-second-info::after {content: ''; position: absolute; top: 0; left: 0; right: 0; height: 0; border-bottom: 120px solid #fff; border-left: 35px solid transparent; z-index: -1;}
.card-second-info > ul {text-align: left; margin: auto; position: absolute; right: 15px; top: 30px;}
.card-second-info > ul > li {padding-bottom: 5px; display: flex; align-items: center; font-size: #333;}
.card-second-info > ul > li > i{padding-right: 3px; color: #F1413D;}
.card-second-info .card-btn {position: absolute; bottom: 12px; right: 15px;}
.card-second-name {background: #fff; border-left: 4px solid #F1413D; position: absolute; bottom: 15px; left: 40px; z-index: 3; padding: 2px 15px; box-shadow: 2px 3px 10px #aaa; transform: skewX(-20deg);}
.card-second-name > p {transform: skewX(20deg)}
.card-name {font-size: 15px; display: inline-block; vertical-align: bottom; }
.card-position {font-size: 12px; color: #666666; padding-left: 5px; display: inline-block; vertical-align: bottom;}
