/* icon */
@import url('./iconfont.css');

body {background: #F7F7F7;}
/* common */
.page{padding: 15px;}
.container {background: #fff; padding: 20px 15px; border-radius: 4px;}

.pxy-0 {padding: 0;}
.pxy-15 {padding: 15px;}
.pxy-xxs {padding: 0 2px;}
.pxy-xs {padding: 0 5px;}
.pxy-sm {padding: 0 10px;}
.pt-lg {padding-top: 15px;}
.pl-sm {padding-left: 10px;}
.mt-lg {margin-top: 15px;}
.mt-sm {margin-top: 10px;}
.mt-0 {margin-top: 0px;}
.mb-0 {margin-bottom: 0px;}

.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}

.text-primary {color: #E4211B;}
.text-info {color: #F1413D;}
.test-gray {color: #A6A6A6;}

.text-xxs {font-size: 12px;}

.btn {line-height: 30px; height: 30px; padding: 0 24px;}

.field-input {border-radius: 4px; border: 1px solid #f44; padding: 4px 15px;}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* ad-footer */
.ad-add-footer {position: fixed; bottom: 0; left: 0; width: 100%; height: 90px;}
.ad-add-footer .btn {position: absolute; left: 50%; margin-left: -38px; }

/* TheCardSecond.vue */
.card-btn {line-height: 25px; height: 25px; font-size: 12px;}
.card-second {display: flex;align-items: stretch; position: relative; overflow: hidden; border-radius: 4px; height: 120px;}
.card-second-img-bg {padding: 0; margin: 0;}
.card-second-img {width: 200px;}
.card-second-img img{display: block; width: 100%;}
.card-second-info {position: absolute; width: 48%; height: 120px; top: 0; right: 0; z-index: 2; font-size: 12px;}
.card-second-info::after {content: ''; position: absolute; top: 0; left: 0; right: 0; height: 0; border-bottom: 120px solid #fff; border-left: 35px solid transparent; z-index: -1;}
.card-second-info > ul {text-align: left; margin: auto; position: absolute; right: 15px; top: 30px;}
.card-second-info > ul > li {padding-bottom: 5px; display: flex; align-items: center; font-size: #333;}
.card-second-info > ul > li > i{padding-right: 3px; color: #F1413D;}
.card-second-info .card-btn {position: absolute; bottom: 12px; right: 15px;}
.card-second-name {background: #fff; border-left: 4px solid #F1413D; position: absolute; bottom: 15px; left: 20%; z-index: 3; padding: 2px 15px; box-shadow: 2px 3px 10px #aaa; transform: skewX(-20deg);}
.card-second-name > p {transform: skewX(20deg); padding: 0; margin: 0;}
.card-name {font-size: 15px; display: inline-block; vertical-align: bottom; }
.card-position {font-size: 12px; color: #666666; padding-left: 15px; display: inline-block; vertical-align: bottom;}

/* TheCardOne.vue */
.card-one{ padding: 15px; height: 80px; z-index:1; border-radius: 4px;     position:relative; overflow: hidden; background: url('../../assets/images/card-one.png') no-repeat; background-size: 100% 100%; }
.card-one-info:before{ content:''; position:absolute; top: 0;right: 0;left: 0;bottom: 0; filter:blur(5px); background: url('../../assets/images/card-one.png') no-repeat; background-size: 100% 100%; z-index:-1;}
.card-one-info{ position:absolute; top: 48px;right: 0;left: 35px;bottom: 15px; background:hsla(0,0%,100%,.1);}
.card-one-name {font-size: 15px; color: #fff; text-align: left; padding-left: 30px;}
.card-one-position {font-size: 12px; padding-left: 7px; color: #ddd;}
.card-one-info {color: #fff; text-align: left; padding: 5px 10px; border-left: 2px solid #fff;}
.card-one-info > ul > li {display: flex; align-items: center;}
.card-one-info > ul > li:first-child {padding-bottom: 5px;}
.card-one-info > ul > li > span {font-size: 12px; padding-left: 5px}
.card-one-btn {position: absolute; bottom: 0; right: 0;}
.card-one-btn .card-btn {padding: 0 20px;}
.card-one-img {position: absolute; right: 17px; top: -40px; }
.card-one-img .van-image--round {border: 2px solid #fff;}

@media screen and (min-width: 350px){
    .card-second-info {width: 58%;}
    .card-second-name {left: 25%;}
  }